.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: linear-gradient(90deg, #2c2629, #ff758c);
  color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffe600;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #1f1d1d;
    top: 70px;
    right: 30px;
    border-radius: 10px;
    padding: 15px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
